@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --white: #ffffff;
  --black: #000000;
  --color: #ff5e5b;
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}
.white {
  color: var(--white);
}
/* header init */
header {
  background: url(/assets/img/yaniv-cohen-8mlql5lGovo-unsplash.jpg) center
    center/cover no-repeat;
  position: relative;
  height: auto;
  align-items: center;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}
header::after {
  content: "";
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.8) 80%,
    rgba(0, 0, 0, 0.8) 100%
  );
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80%;
}

nav {
  position: relative;
  top: 0;
  left: 0;
  padding: 0 20px;
  width: 100%;
  align-items: center;
  align-content: center;
}

nav .logo {
  width: 150px;
  height: 80px;
}

nav svg {
  width: 150px;
  transform: translateY(-20px);
}

nav img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .menu {
    scrollbar-width: auto;
    scrollbar-color: #d0631b #ffffff;
  }

  /* Chrome, Edge, and Safari */
  .menu::-webkit-scrollbar {
    width: 16px;
  }

  .menu::-webkit-scrollbar-track {
    background: #ffffff;
  }

  .menu::-webkit-scrollbar-thumb {
    background-color: #d0631b;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
.menu {
  display: none;
  position: fixed;
  overflow-y: auto;
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.9) 80%,
    rgba(0, 0, 0, 0.6) 100%
  );
  box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
  transition: 0.5s ease-in;
}

.menu .close-menu {
  position: absolute;
  right: 50px;
  top: 60px;
  z-index: 7;
  cursor: pointer;
  
}
.menu .close-menu i {
  font-size: xx-large;
  color: var(--color);
}

#section03 a{
  padding-top: 60px;
}
.active{
  display: block;
}
.menu .menu-tittles {
  margin: 100px 20px 80px 25px;
  cursor: pointer;
  gap: 25px;
}
.menu .menu-tittles h2 {
  color: var(--white);
  font-weight: 800;
  font-size: 36px;
}
.menu .menu-tittles h2:hover {
  color: var(--color);
  transition: 0.5s;
}
.menu .menu-tittles .menu-socials {
  gap: 10px;
  margin-top: 30px;
  
}
.menu .menu-tittles .menu-socials a {
  display: inline-block;
  text-decoration: none;
  border-radius: 50%;
  background-color: #3f3c3c;
  padding: 10px;
  transition: 0.5s;
}
.menu .menu-tittles .menu-socials a:hover {
  background-color: var(--color);
}
.menu .menu-tittles .menu-socials a:hover i {
  color: var(--black);
}

header h1 {
  font-size: 6rem;
  font-weight: 900;
}
.header__description {
  margin: 80px 260px 0px;
  text-align: center;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.header__description p:nth-of-type(1) {
  font-size: 36px;
  font-weight: 700;
}
.header__description p:nth-of-type(2) {
  font-size: 16px;
  line-height: 26px;
}

.header__description button {
  color: #090909;
  margin-top: 20px;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px var(--white);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  z-index: 2;
}

button:hover {
  border: 1px solid var(--white);
}

button:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px var(--white);
}

.scroll {
  margin-top: 60px;
}
.demo a {
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: var(--white);
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}
.demo a:hover {
  opacity: 0.5;
}

#section03 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid var(--white);
  border-radius: 100%;
  box-sizing: border-box;
}
#section03 a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#section03 a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* header finish */

/* section about init */

section {
  min-height: 100vh;
  padding: 100px 30px;
  position: relative;
}
#section1 {
  background: url("https://images.unsplash.com/photo-1670960058964-79063a8ecc91?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80")
    center center/cover no-repeat;
}
#section1::after {
  content: "";
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.8) 80%,
    rgba(0, 0, 0, 0.8) 100%
  );
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80%;
}

#section1 h2 {
  font-size: 4rem;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  color: var(--white);
  margin-left: 80px;
  max-width: 600px;
  text-transform: capitalize;
}
#section1 .container__section1 {
  margin-left: 600px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  max-width: 400px;
  color: var(--white);
}
#section1 .container__section1 > p {
  line-height: 25px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  z-index: 2;
}
#section1 .container__section1 > p:nth-of-type(2) {
  color: #ff5e5b;
  transform: translateX(30px);
}
#section1 .container__section1 > p:nth-of-type(2) {
  color: #ff5e5b;
  transform: translateX(30px);
}
#section1 .container__section1 button {
  --color: #ff5e5b;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
}

#section1 .container__section1 button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

#section1 .container__section1 button:hover {
  color: #fff;
}

#section1 .container__section1 button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

#section1 .container__section1 button:hover:before {
  top: -30px;
  left: -30px;
}

#section1 .container__section1 button:active:before {
  background: var(--black);
  transition: background 0s;
}

/* mediaueries init */
@media only screen and (max-width: 481px) {
  header h1 {
    font-size: 4rem;
  }
  .header__description p:nth-of-type(1) {
    font-size: 30px;
  }
  .header__description p:nth-of-type(2) {
    font-size: 14px;
  }
}
@media screen and (max-width: 980px) {
  #section1 .container__section1 {
    margin: 30px 30px 20px 20px;
    max-width: max-content;
  }
  #section1 .container__section1 > p {
    line-height: 28px;
  }
}
